html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: #4f2222;
  color: #f8f8ff;
}

figure {
  margin: 0;
}

nav{
  width : 100vw;
  background-color: #222;
}

li {
  list-style-type: none;
  margin; 0;
  font-size: 3vh;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #f8f8ff
}

a.Link {
    background-color: #4f1010;
}

a.active {
  background-color: #6f2222
}

a:hover {
    background-color: #333;
    color: #f8f8ff
}

a.active:hover {
  background-color: #4f1010
}

nav ul {
  display: flex;
  margin: 0;
  padding: 8px;
  position: sticky;
/*   An attempt to make a sticky nav bar */
  top: 0;
}

p {
    margin: 25px;
    font-size: 22px
}
